DCS/DCS.TASK.NET/MESwebservice/Web References/OCVgetData/MiBatchStartAndGetParameterServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machine.ws.atlmes.com/" targetNamespace="http://machine.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machine.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="batchSfcEntity" type="tns:batchSfcEntity" />
      <xs:element name="batchStartAndGetParamRequest" type="tns:batchStartAndGetParamRequest" />
      <xs:element name="batchStartAndGetParamResponse" type="tns:batchStartAndGetParamResponse" />
      <xs:element name="miBatchStartAndGetParameter" type="tns:miBatchStartAndGetParameter" />
      <xs:element name="miBatchStartAndGetParameterResponse" type="tns:miBatchStartAndGetParameterResponse" />
      <xs:complexType name="miBatchStartAndGetParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchStartSfcRequest" type="tns:batchStartAndGetParamRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="batchStartAndGetParamRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element name="operationRevision" type="xs:string" />
          <xs:element name="resource" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="startMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="processLot" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sfcArray" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="paramArray" type="xs:string" />
          <xs:element minOccurs="0" name="isGetFirstValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miBatchStartAndGetParameterResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:batchStartAndGetParamResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="batchStartAndGetParamResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="processLot" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sfcArray" type="tns:batchSfcEntity" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="batchSfcEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="sfc" type="xs:string" />
          <xs:element minOccurs="0" name="channelRow" type="xs:decimal" />
          <xs:element minOccurs="0" name="channelCol" type="xs:decimal" />
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="parametricDatas" type="tns:start2NdInjectionParametricData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="start2NdInjectionParametricData">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miBatchStartAndGetParameterIn">
    <wsdl:part name="parameters" element="tns:miBatchStartAndGetParameter" />
  </wsdl:message>
  <wsdl:message name="miBatchStartAndGetParameterOut">
    <wsdl:part name="miBatchStartAndGetParameterResponse" element="tns:miBatchStartAndGetParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="MiBatchStartAndGetParameterService">
    <wsdl:operation name="miBatchStartAndGetParameter" parameterOrder="parameters">
      <wsdl:input message="tns:miBatchStartAndGetParameterIn" />
      <wsdl:output message="tns:miBatchStartAndGetParameterOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiBatchStartAndGetParameterServiceBinding" type="tns:MiBatchStartAndGetParameterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miBatchStartAndGetParameter">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiBatchStartAndGetParameterServiceService">
    <wsdl:port name="MiBatchStartAndGetParameterServicePort" binding="tns:MiBatchStartAndGetParameterServiceBinding">
      <address location="http://ly5mesp178:50200/atlmeswebservice/MiBatchStartAndGetParameterServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>